<h1>Cadastro de Clientes</h1>
<hr>

<small>
  {{ formGroup.value | json }}
  {{ formGroup.valid }}
</small>

<form [formGroup]="formGroup" class="mb-3" (ngSubmit)="enviar()">
  <div class="row">
    <div class="col">
      <label for="exampleFormControlInput1" class="form-label"> Nome </label>
      <input type="text" class="form-control" formControlName="nome">
    </div>
    <div class="col">
      <label for="exampleFormControlInput1" class="form-label"> Email</label>
      <input type="email" class="form-control" formControlName="email">
    </div>

  </div>

  <div class="row mt-2">
    <div class="col">
      <label for="exampleFormControlInput1" class="form-label"> CPF</label>
      <input type="text" class="form-control" formControlName="cpf">
    </div>
    <div class="col">
      <label for="exampleFormControlInput1" class="form-label"> Observações</label>
      <input type="text" class="form-control" formControlName="observacoes">
    </div>
  </div>
  <br>


  <div class="row mt-2">
    <div class="col">
      <button [disabled]="!formGroup.valid" type="submit" class="btn btn-dark d-flex justify-content-center"
    titulo="Cadastrar"> Cadastrar </button>
    </div>
    <div class="col">
      <button class="btn btn-dark" routerLink="/cliente">Voltar</button>
    </div>
  </div>
</form>
